<!DOCTYPE html>
<html lang="en">
<%- include('../head.ejs') %>
<body>
    <%- include('../header.ejs', {hint: "Search Blob Peers", search: true}) %>
    <div id="hero">
        <%- include('./hero.ejs') %> 
    </div>
    
    <div id="claim">
        <%- include('../details.ejs') %>
        <%- include('../map.ejs') %>
        <%- include('../country-table.ejs') %>
        <%- include('../node-table.ejs') %>
    </div>
    
    <%- include('../peer-ping.ejs') %>
    <%- include('./script.ejs') %> 
</body>
</html>