<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBRY Statistics</title>
    <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon">
    <%- include('../styles.ejs') %>
    <%- include('./script.ejs') %> 
</head>
<body>
    <%- include('../header.ejs') %>
    <% if (!query) { %>
        <%- include('../hero.ejs') %> 
    <% } else { %>
        <%- include('../details.ejs') %>
        <%- include('../map.ejs') %>
        <%- include('../node-table.ejs') %>
    <% } %>

    <%- include('../peer-ping.ejs') %>
</body>
</html>