<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../og.ejs', {description: "View LBRY Blob Peers for a claim.", title: "Blob Peers", page: "/blob-peers"}) %>
<%- include('../head.ejs') %>
</head>
<body>
    <%- include('../header.ejs', {hint: "Search Blob Peers", search: true}) %>
    <div id="hero">
        <%- include('./hero.ejs') %> 
    </div>
    
    <div id="claim">
        <%- include('../details.ejs') %>
        <%- include('../map.ejs') %>
        <%- include('../country-table.ejs') %>
        <%- include('../node-table.ejs') %>
    </div>
    
    <%- include('../peer-ping.ejs') %>
    <%- include('./script.ejs') %> 
</body>
</html>