<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBRY Statistics</title>
    <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon">
    <%- include('../styles.ejs') %>
</head>
<body>
    <%- include('../header.ejs') %>
    <div id="hero">
        <%- include('./hero.ejs') %> 
    </div>
    
    <div id="claim">
        <%- include('../details.ejs') %>
        <%- include('../map.ejs') %>
        <%- include('../country-table.ejs') %>
        <%- include('../node-table.ejs') %>
    </div>
    
    <%- include('../peer-ping.ejs') %>
    <%- include('./script.ejs') %> 
</body>
</html>