<!DOCTYPE html>
<html lang="en">
<%- include('../head.ejs') %>
<body>
    <%- include('../header.ejs', {hint: "View SDK Nodes", search: false}) %>

    <%- include('../map.ejs') %>
    <%- include('../country-table.ejs') %>
    <%- include('../node-table.ejs') %>

    <%- include('./script.ejs') %> 
</body>
</html>