<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../og.ejs', {description: "View SDK Nodes on the LBRY network.", title: "SDK Nodes", page: "/sdk-nodes"}) %>
<%- include('../head.ejs') %>
</head>
<body>
    <%- include('../header.ejs', {hint: "View SDK Nodes", search: false}) %>

    <%- include('../map.ejs') %>
    <div id="total_nodes" class="title"></div>
    <%- include('../country-table.ejs') %>
    <%- include('../node-table.ejs') %>

    <%- include('./script.ejs') %> 
</body>
</html>